https://embed-ssl.wistia.com/deliveries/0a2b87339d14cbcd1bf64b828aa15cb2.png


.px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

bg2 https://embed-ssl.wistia.com/deliveries/9972733aa46bff830d0d91a8bb6c70b5.png
bg3 https://embed-ssl.wistia.com/deliveries/83a9d3accb4d0422696d89bf5153c18d.png
bg4 https://embed-ssl.wistia.com/deliveries/f0128fff3a205459f08e4ca54b360398.png
bg5 https://embed-ssl.wistia.com/deliveries/7521888536c6607c2cbd85a2bccd3949.png
bg6 https://embed-ssl.wistia.com/deliveries/8d2402fd51a16c7f31961b33437c6792.png