{# Callout box. type: info | warning | danger | note. Styles: css/site.css #}
{% macro callout(type='info', title='', content='', list=[]) %}
{% set icons = { info: 'ⓘ', warning: '⚠', danger: '⚠', note: '✎' } %}
<div class="callout callout-{{ type }}">
  <span class="ic" aria-hidden="true">{{ icons[type] }}</span>
  <span>
    {% if title %}<b>{{ title }}</b> {% endif %}{{ content | safe }}
    {% if list.length %}
    <ul>
      {% for item in list %}<li>{{ item | safe }}</li>{% endfor %}
    </ul>
    {% endif %}
  </span>
</div>
{% endmacro %}
