# Dependency directories
node_modules/

# Eleventy build output
_site/

# testing json files
/json

# macOS system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Optional: ignore package-lock.json if you're using npm
# package-lock.json

# Optional: ignore yarn.lock if you're using Yarn
# yarn.lock

#Pre-Eleventy HTML files
oldHTML/
