{% extends 'base.njk' %}

{% block title %}
LLS Draft Order 🏈 {{ super() }}
{% endblock %}

{% block head %}
{% endblock %} 

{% block heading %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5">
        <!-- Page Heading and subheading -->
        <h1 class="font-weight-light">LLS 2026 Draft Order</h1>
        <p>The moment you've been waiting for: this year's draft order reveal.</p><br>
    </div>
    <div class="col-lg-7">
        <!-- 2026 draft order video -->
        <script src="https://fast.wistia.com/player.js" async></script><script src="https://fast.wistia.com/embed/871dtyx7sr.js" async type="module"></script><style>wistia-player[media-id='871dtyx7sr']:not(:defined) { background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/871dtyx7sr/swatch'); display: block; filter: blur(5px); padding-top:56.25%; }</style> <wistia-player media-id="871dtyx7sr" seo="false" aspect="1.7777777777777777"></wistia-player>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- 2025 -->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <!-- 2025 draft order video -->
        <script src="https://fast.wistia.com/player.js" async></script><script src="https://fast.wistia.com/embed/jkq6ggzc40.js" async type="module"></script><style>wistia-player[media-id='jkq6ggzc40']:not(:defined) { background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/jkq6ggzc40/swatch'); display: block; filter: blur(5px); padding-top:56.25%; }</style> <wistia-player media-id="jkq6ggzc40" seo="false" aspect="1.7777777777777777"></wistia-player>
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">LLS 2025 Draft Order</h1>
        <p>Round 1 as it played out:</p>
        <ol>
            <li>Eat the W — Ja'Marr Chase</li>
            <li>Nacua Matata — Bijan Robinson</li>
            <li>Gibbs Me Da Gold — Saquon Barkley</li>
            <li>Live By McCaff Die By Muh Calf — Christian McCaffrey</li>
            <li>Piccolos Cage — Derrick Henry</li>
            <li>Pewter City Gym — De'Von Achane</li>
            <li>Breece's Pieces — Justin Jefferson</li>
            <li>Big Diggs and My Chubb — Ashton Jeanty</li>
            <li>Herbert Fully Loaded — CeeDee Lamb</li>
            <li>Wraith's Voidwalkers — Nico Collins</li>
        </ol>
    </div>
</div>
<!-- 2024 -->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5">
        <h1 class="font-weight-light">LLS 2024 Draft Order</h1>
    </div>
    <div class="col-lg-7">
        <script src="https://fast.wistia.com/embed/medias/13wuaba79b.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_13wuaba79b seo=false videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/13wuaba79b/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
</div>
<!-- 2023 -->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <script src="https://fast.wistia.com/embed/medias/mjpsc0kmjk.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_mjpsc0kmjk seo=false videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/mjpsc0kmjk/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">LLS 2023 Draft Order</h1>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %} 