{% extends 'base.njk' %}
{% from "_components/card.njk" import card %}

{% block title %}
LLS 🏈 {{ super() }}
{% endblock %}

{% block head %}
{% endblock %} 

{% block heading %}
<div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://embed-ssl.wistia.com/deliveries/7f048c1d12339c4d715848e521c17696.png" alt="overhead view of Gillette Stadium" />
</div>
<div class="col-lg-5">
    <h1 class="font-weight-light">Welcome Back for<br>The LLS 2025 Season</h1>
    <p>Year SIX of never being late, always right on time.</p><br>
    <a class="button-29" href="https://football.fantasysports.yahoo.com/league/latelateshift">Go to League on Yahoo!</a>
</div>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5">
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">2025 Schedule</h2>
            <p class="card-text">
                <ul>
                    <li><b>Kickoff (DAL @ PHI):</b> Thurs, 9/4 @ 8:20pm</li>
                    <li><b>Trade Deadline:</b> Nov 22, 2025</li>
                    <li><b>Playoffs:</b> Week 15, 16 and 17</li>
                    <!-- Add more list items as needed -->
                </ul>
            </p>
        </div>
        <div class="card-footer"><a class="button-29" href="https://football.fantasysports.yahoo.com/f1/716831/1/keepers" target="_blank">Select Your 2025 Keepers</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Roster Info</h2>
            <p class="card-text">
            The 2025 draft is right around the corner! See last year's draft results below.<br>
            
        </p>
        </div>
        <div class="card-footer" id="double-btn-footer">
            <a class="button-29" href="https://football.fantasysports.yahoo.com/2024/f1/455458/draftresults" target="_blank"> Last Year's Draft Results</a>
            <a class="button-29" href="https://football.fantasysports.yahoo.com/2024/f1/455458/starters" target="_blank">Last Year's Rosters</a> 
        </div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Reigning Champ</h2>
            <div class="champ-card">
                <div class="champ-image">
                    <img src="https://embed-ssl.wistia.com/deliveries/4b2f63c1308a8d69d328885c018af1b8.bin" alt="Reigning Champ" />
                </div>
                <div class="champ-text" style="padding-left:5px;">
                    <b>John</b> aka<br>
                    <b>Piccolos Cage</b><br>
                    <b>🏆'24</b>
                </div>
            </div>
        </div>
        <div class="card-footer"><a class="button-29" href="{{ '/recordBook/' | url }}">Hall of Records</a></div>
    </div>
</div>
<!--<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body" style="max-height:600px;overflow:scroll;">
            <h2 class="card-title">NFL Injury Updates</h2>
            <a class="twitter-timeline" data-dnt="true" data-theme="dark" href="https://twitter.com/NFLInjuryNws?ref_src=twsrc%5Etfw">Tweets by NFLInjuryNws</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>-->
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %} 