{% extends 'base.njk' %}

{% block title %}
LLS 🏈 {{ super() }}
{% endblock %}

{% block head %}
{% endblock %} 

{% block heading %}
<div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://embed-ssl.wistia.com/deliveries/7f048c1d12339c4d715848e521c17696.png" alt="overhead view of Gillette Stadium" />
</div>
<div class="col-lg-5">
    <h1 class="font-weight-light">Welcome Back for The LLS 2024 Season</h1>
    <p>Year FIVE of never being late, always right on time.</p><br>
    <a class="button-29" href="https://football.fantasysports.yahoo.com/league/latelateshift">Go to League on Yahoo!</a>
</div>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5">
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body" style="padding:.5em;">
            <h2 class="card-title" style="background-color: #000;background-image:none;padding:2px;">2024 Schedule</h2>
            <p class="card-text">
                <ul>
                    <li><b>Kickoff (BAL @ KC):</b> Thurs, 9/5 @ 8:20pm</li>
                    <li><b>Trade Deadline:</b> ?</li>
                    <li><b>Playoffs:</b> Week 15, 16 and 17</li>
                    <!-- Add more list items as needed -->
                </ul>
            </p>
        </div>
        <div class="card-footer"><a class="button-29" href="https://football.fantasysports.yahoo.com/f1/189611" target="_blank">Week 1 Matchups</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body" style="padding:.5em;">
            <h2 class="card-title" style="background-color: #000;background-image:none;padding:2px;">Roster Info</h2>
            <p class="card-text">
            The 4th annual LLS draft has concluded.<br>
            See below for draft and roster information.
        </p>
        </div>
        <div class="card-footer" id="double-btn-footer">
            <a class="button-29" href="https://football.fantasysports.yahoo.com/f1/189611/draftresults" target="_blank">Draft Results</a>
            <a class="button-29" href="https://football.fantasysports.yahoo.com/f1/189611/starters" target="_blank">Rosters</a> 
        </div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body" style="padding:.5em;">
            <h2 class="card-title" style="background-color: #000;background-image:none;padding:2px;">Reigning Champ</h2>
            <div class="champ-card">
                <div class="champ-image">
                    <img src="https://embed-ssl.wistia.com/deliveries/4b2f63c1308a8d69d328885c018af1b8.bin" alt="Reigning Champ" />
                </div>
                <div class="champ-text" style="padding-left:5px;">
                    <b>Ben</b> aka <b>Brown Bros TD Emporium</b><br>
                    <b>🏆'24</b>
                </div>
            </div>
        </div>
        <div class="card-footer"><a class="button-29" href="/LateLateShift/recordBook.html">Hall of Records</a></div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %} 