{% extends 'base.njk' %}

{% block title %}
LLS 🏈 {{ super() }}
{% endblock %}

{% block head %}
{% endblock %} 

{% block heading %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5">
        <!-- Page Heading and subheading -->
        <h1 class="font-weight-light">LLS Teams</h1>
        <p>Team list and all-time stats per manager. Click on rows to select, CTRL+click and SHIFT+click to select multiple rows.</p><br>
    </div>
    <div class="col-lg-7">
        <!-- Header image -->
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://embed-ssl.wistia.com/deliveries/04b18769145f242f5e8dd0c80982d736.png" alt="Patriots players dump a water cooler over Bill Belichick to celebrate" />
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
{% endblock %} 