{% extends 'base.njk' %}
{% from "_components/article.njk" import article %}
{% from "_components/infoTable.njk" import infoTable %}
{% from "_components/callout.njk" import callout %}

{% block title %}
LLS Rules 🏈 {{ super() }}
{% endblock %}

{% block heading %}
{% endblock %}

{% block head %}

{% endblock %} 

{% block content %}
        {% set articleContent %}
        <h3>General</h3>
            <ul>
                <li>0.5 PPR (Yahoo)</li>
                <li>10 Teams</li>
                <li>Snake draft, randomized</li>
                <li>$20 buy-in</li>
                <li>$150 to SB winner, $50 to SB loser</li>
            </ul>
        <hr>
        <h3>Roster Settings</h3>
        <p>Standard roster that replaces TE with a WR/TE flex. This makes teams less reliant on TE roulette since the TE position drops off so hard, and brings more value to mid-tier WRs. </p><br>

            {% set rosterData = {
            headers: ["QB", "RB", "WR", "WR/TE", "RB/WR/TE"],
            rows: [
                ["1", "2", "2", "1", "1"]
            ]
            } %}
            {{ infoTable(rosterData, orientation='wide', sortable=false, size='wide') }}
        <br>
            {% set rosterData = {
            headers: ["K", "DST", "BN", "IR"],
            rows: [
                ["1", "1", "6", "2"]
            ]
            } %}
            {{ infoTable(rosterData, orientation='wide', sortable=false, size='wide') }}
        <br>
        <hr>
        <h3>Offensive Scoring</h3>
            <p>0.5 PPR, INTs and fumbles have the same penalty, otherwise default. </p></br>
            {% set scoringData = {
            headers: ["Pass TD", "Rush TD", "Rec TD"],
            rows: [
                ["4 pts", "6 pts", "6 pts"]
            ]
            } %}
            {{ infoTable(scoringData, orientation='wide', sortable=false, size='wide') }}
            <br>
            {% set scoringData = {
            headers: ["Pass Yard", "Rush Yard", "Rec Yard"],
            rows: [
                ["0.04 pts", "0.1 pts", "0.1 pts"]
            ]
            } %}
            {{ infoTable(scoringData, orientation='wide', sortable=false, size='wide') }}
            <br>
            {% set scoringData = {
            headers: ["Fumble", "INT"],
            rows: [
                ["-2.0 pts", "-2.0 pts"]
            ]
            } %}
            {{ infoTable(scoringData, orientation='wide', sortable=false, size='wide') }}
        <br>
        <hr>
        <h3>Defensive Scoring</h3>
            <p>We use use modified defensive scoring to try and better represent the in-game impact of a defense. The main goal is to reduce the chance that a defense can score big in fantasy while getting destroyed in real life. <br/><br/>
            The first few scores against a defense have a smaller penalty, later scores have a greater penalty, and the overall max penalty for points allowed is increased. There is also an added penalty for 400 and 500 yards allowed.
                {{ callout(
                    type='info',
                    content='The max penalty for a DST is -7pts (35 pts and 500+ yards allowed).'
                ) }} <br>
            <div class="scoring-table-container">
                <table class="scoring-table" border="1">
                    <tr>
                        <th class="scoring-th" colspan="2">DST Pts Allowed</th>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 0</td>
                        <td class="pts-td">10 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 1-6</td>
                        <td class="pts-td">9 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 7-13</td>
                        <td class="pts-td">7 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 14-20</td>
                        <td class="pts-td">4 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 21-27</td>
                        <td class="pts-td">1 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 28-34</td>
                        <td class="pts-td">-2 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Allowed 35+</td>
                        <td class="pts-td">-5 pts</td>
                    </tr>
                </table>
                <table class="scoring-table" border="1">
                    <tr>
                        <th class="scoring-th" colspan="2">DST Yds Allowed</th>
                    </tr>
                    <tr>
                        <td class="play-td">Yds Allowed 400-499</td>
                        <td class="pts-td">-1 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Yds Allowed 500+</td>
                        <td class="pts-td">-2 pts</td>
                    </tr>
                </table>
                <table class="scoring-table" border="1">
                    <tr>
                        <th class="scoring-th" colspan="2">Other Plays</th>
                    </tr>
                    <tr>
                        <td class="play-td">Sack</td>
                        <td class="pts-td">1 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">4th Down Stop</td>
                        <td class="pts-td">1 pts*</td>
                    </tr>
                    <tr>
                        <td class="play-td">Fumble Rec</td>
                        <td class="pts-td">2 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Interception</td>
                        <td class="pts-td">2 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Touchdown</td>
                        <td class="pts-td">6 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Safety</td>
                        <td class="pts-td">2 pts</td>
                    </tr>
                    <tr>
                        <td class="play-td">Kick/Punt Return TD</td>
                        <td class="pts-td">6 pts</td>
                    </tr>
                </table>
        </div>
    <p><Em>*Increased from 0</Em></p>
    <hr>
    <h3>Keeper Rules</h3>
        <ul>
            <li>Up to 2 keepers per team</li>
            <li>Keeping players is optional</li>
            <li>Players drafted in Round 1 cannot be selected as keepers. This keeps a healthy pool of elite players in the draft mix each year.</li>
            <li>The same player can only be selected as a keeper for two consecutive seasons, at which point they return to the draft pool.</li>
        </ul>
    <hr>
    <h3>Keeper Costs</h3>
    <p>The cost to keep a player depends on if and where they were last drafted.</p>
        <h4>Cost to Keep Drafted Players </h4>
        <ul>
            <li>Keeper cost is equal to the player’s most recent draft position</b>, e.g. a player selected in round 4 in 2021 costs a 4th round pick to keep in 2022.</li>
            <li><b>Keeping players for a second consecutive season increases the cost by one round</b>, so a 4th round selection costs a 3rd round pick to keep a second time.</li>   
        </ul>
        <div class="blockquote-container">
            <h5 class="blockquote-header"><em>Example</em></h5>
            <blockquote class="styled-blockquote">
                Season 1: Mark Andrews was drafted 6th round 2020</br> 
                Season 2: Andrews cost a 6th rd pick to keep in 2021</br>
                Season 3: Andrews cost a 5th rd pick to keep in 2022 </br>
                In 2023, Andrews is returned to the draft pool
            </blockquote>
        </div>
    <hr> 
    <h4>Cost to Keep Undrafted Free Agents</h4>
        <ul>
            <li>Any player in the most recent draft is a UDFA</li> 
            <li>Keeping a UDFA costs an <b>8th round pick</b> for the first year</li>
            <li>Keeping a UDFA costs a <b>7th round pick</b> for the second year</li>
        </ul>
        <div class="blockquote-container">
            <h5 class="blockquote-header"><em>Example</em></h5>
            <blockquote class="styled-blockquote">
                Season 1: Justin Jefferson was acquired as a UDFA in 2020</br> 
                Season 2: Jefferson cost a 8th rd pick to keep in 2021</br>
                Season 3: Jefferson cost a 7th rd pick to keep in 2022</br>
                In 2023, Jefferson is returned to the draft pool
            </blockquote>
        </div>
    <hr>
    <h3>Keeper FAQs</h3>

    <h5>What if I want to keep two UDFAs, or two players drafted in the same round?</h5>

    <p>In this situation, the cost for the second keeper increases by one round. So keeping 2 UDFAs costs an 8th and 7th round pick. Keeping two players drafted in the 10th round costs a 10th and a 9th round pick.</p></br>

    <h5>If I only keep a player for one season, can I pick him again in the draft?</h5>

    <p>Yes, if you return a player to the draft pool and have the opportunity to draft them back onto your roster, you can do this and the keeper costs will reset.</p></br>
    </ul>
{% endset %}
        {{ article('LLS Rules & Scoring', '8/11/25', articleContent) }}
{% endblock %}

{% block scripts %}
{% endblock %}