{% extends 'base.njk' %}

{% block title %}
LLS Rules 🏈 {{ super() }}
{% endblock %}

{% block head %}
{% endblock %} 

{% block heading %}
<h1>LLS Rules & Scoring</h1>
<p><em>Last Updated: 8/19/24</em></p>
{% endblock %}

{% block content %}
<h3>General</h3>
    <ul>
        <li>0.5 PPR (Yahoo)</li>
        <li>10 Teams</li>
        <li>Snake draft, randomized</li>
        <li>$20 buy-in</li>
        <li>$150 to SB winner, $50 to SB loser</li>
    </ul>

<h3>Roster</h3>
    <p>Since the TE position drops off hard after the top 1-2, we've replaced it with a WR/TE flex. This makes teams less reliant on TE roulette and brings more value to mid-tier WRs. </p><br>
    <div class="scoring-table-container">
        <table class="scoring-table" border="1">
            <tr>
                <th class="scoring-th">Pos</th>
                <th class="scoring-th">Slots</th>
            </tr>
            <tr>
                <td class="play-td">QB</td>
                <td class="pts-td">1</td>
            </tr>
            <tr>
                <td class="play-td">RB</td>
                <td class="pts-td">2</td>
            </tr>
            <tr>
                <td class="play-td">WR</td>
                <td class="pts-td">2</td>
            </tr>
            <tr>
                <td class="play-td">WR/TE Flex</td>
                <td class="pts-td">1</td>
            </tr>
            <tr>
                <td class="play-td">RB/WR/TE Flex</td>
                <td class="pts-td">1</td>
            </tr>
            <tr>
                <td class="play-td">K</td>
                <td class="pts-td">1</td>
            </tr>
            <tr>
                <td class="play-td">DST</td>
                <td class="pts-td">1</td>
            </tr>
            <tr>
                <td class="play-td">Bench</td>
                <td class="pts-td">6</td>
            </tr>
            <tr>
                <td class="play-td">IR</td>
                <td class="pts-td">2</td>
            </tr>
        </table>
    </div><br>
<h3>Offensive Scoring</h3>
    <p>Mostly default Yahoo settings with some minor adjustments, mainly balancing the penalty for interceptions and fumbles. </p></br>
    <div class="scoring-table-container">
        <table class="scoring-table" border="1">
            <tr>
                <th class="scoring-th">Touchdowns</th>
                <th class="scoring-th"></th>
            </tr>
            <tr>
                <td class="play-td">Pass TD</td>
                <td class="pts-td">4 pts</td>
            </tr>
            <tr>
                <td class="play-td">Rush TD</td>
                <td class="pts-td">6 pts</td>
            </tr>
            <tr>
                <td class="play-td">Rec TD</td>
                <td class="pts-td">6 pts</td>
            </tr>
        </table>
    <table class="scoring-table" border="1">
        <tr>
            <th class="scoring-th">Yards</th>
            <th class="scoring-th"></th>
        </tr>
        <tr>
            <td class="play-td">Pass Yard</td>
            <td class="pts-td">0.04 pts</td>
        </tr>
        <tr>
            <td class="play-td">Rush Yard</td>
            <td class="pts-td">0.1 pts</td>
        </tr>
        <tr>
            <td class="play-td">Rec Yard</td>
            <td class="pts-td">0.1 pts</td>
        </tr>
    </table>

    <table class="scoring-table" border="1">
        <tr>
            <th class="scoring-th">Turnovers</th>
            <th class="scoring-th"></th>
        </tr>
        <tr>
            <td class="play-td">Fumble</td>
            <td class="pts-td">-2.0 pts</td>
        </tr>
        <tr>
            <td class="play-td">INT</td>
            <td class="pts-td">-2.0 pts*</td>
        </tr>
    </table>
</div>
<p><Em>*Increased from -1.0</Em></p><br>
<h3>Defensive Scoring</h3>
    <p>We use modified scoring for defense, designed to properly reward or penalize based on in-game impact, and limit the chance for a defense to score big in fantasy while getting blown out in real life. <br/><br/>
    This system penalizes less for the first few scores, to reflect that NFL defenses give up an average of ~22 points per game (as of '22), and then penalties get steeper with more points and yards allowed.<br/><br/>
    <div class="scoring-table-container">
        <table class="scoring-table" border="1">
            <tr>
                <th class="scoring-th">DST Scoring (pts)</th>
                <th class="scoring-th"></th>
            </tr>
            <tr>
                <td class="play-td">Allowed 0</td>
                <td class="pts-td">10 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 1-6</td>
                <td class="pts-td">9 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 7-13</td>
                <td class="pts-td">7 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 14-20</td>
                <td class="pts-td">4 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 21-27</td>
                <td class="pts-td">1 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 28-34</td>
                <td class="pts-td">-2 pts</td>
            </tr>
            <tr>
                <td class="play-td">Allowed 35+</td>
                <td class="pts-td">-5 pts</td>
            </tr>
        </table>
        <table class="scoring-table" border="1">
            <tr>
                <th class="scoring-th">DST scoring (Yds)</th>
                <th class="scoring-th"></th>
            </tr>
            <tr>
                <td class="play-td">Yds Allowed 400-499</td>
                <td class="pts-td">-1 pts</td>
            </tr>
            <tr>
                <td class="play-td">Yds Allowed 500+</td>
                <td class="pts-td">-2 pts</td>
            </tr>
        </table>
        <table class="scoring-table" border="1">
            <tr>
                <th class="scoring-th">Other Plays</th>
                <th class="scoring-th"></th>
            </tr>
            <tr>
                <td class="play-td">Sack</td>
                <td class="pts-td">1 pts</td>
            </tr>
            <tr>
                <td class="play-td">4th Down Stop</td>
                <td class="pts-td">1 pts*</td>
            </tr>
            <tr>
                <td class="play-td">Fumble Rec</td>
                <td class="pts-td">2 pts</td>
            </tr>
            <tr>
                <td class="play-td">Interception</td>
                <td class="pts-td">2 pts</td>
            </tr>
            <tr>
                <td class="play-td">Touchdown</td>
                <td class="pts-td">6 pts</td>
            </tr>
            <tr>
                <td class="play-td">Safety</td>
                <td class="pts-td">2 pts</td>
            </tr>
            <tr>
                <td class="play-td">Kick/Punt Return TD</td>
                <td class="pts-td">6 pts</td>
            </tr>
        </table>
</div>
<p><Em>*Increased from 0</Em></p><br>
{% endblock %}

{% block scripts %}
{% endblock %} 