{% extends 'base.njk' %}
{% from "_components/infoTable.njk" import infoTable %}

{% block title %}
LLS Teams and Managers 🏈 {{ super() }}
{% endblock %}

{% block head %}
<style>
    h3 {
    color: #5E239D;
    margin-top: 30px;
    margin-bottom: 15px;
  }
</style>
{% endblock %}    

{% block heading %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5">
        <h1 class="font-weight-light">LLS Teams & Stats</h1>
        <p>Team list and all-time stats per manager. Click on rows to select, CTRL+click and SHIFT+click to select multiple rows.</p><br>
    </div>
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://embed-ssl.wistia.com/deliveries/04b18769145f242f5e8dd0c80982d736.png" alt="Patriots players dump a water cooler over Bill Belichick to celebrate" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="teamChart-container" style="margin: 0 12% 0 12%;">
{% set tableData = {
  "headers": ["Manager", "Yrs", "W", "L", "Win %", "PF", "PA", "PF Avg", "PA Avg", "Moves", "Moves Avg"],
  "rows": [
    ["Ben 🏆", 3, 20, 22, 0.48, 4937.58, 4856.48, 1645.86, 1618.83, 107, 35.67],
    ["Cass", 6, 46, 37, 0.55, 9743.8, 9525.26, 1623.97, 1587.54, 149, 24.83],
    ["Colin 🏆🏆", 6, 45, 38, 0.54, 9611.9, 9313, 1601.98, 1552.17, 122, 20.33],
    ["David", 6, 49, 34, 0.59, 9882.02, 9354.4, 1647, 1559.07, 149, 24.83],
    ["Harper", 6, 41, 42, 0.49, 9701.4, 9874.36, 1616.9, 1645.73, 168, 28],
    ["John 🏆", 6, 38, 45, 0.46, 9261.04, 9789.3, 1543.51, 1631.55, 83, 13.83],
    ["Price", 6, 42, 41, 0.51, 9644.06, 9706.66, 1607.34, 1617.78, 227, 37.83],
    ["Ray", 5, 31, 39, 0.44, 8449.7, 8172.58, 1689.94, 1634.52, 60, 12],
    ["TK 🏆", 6, 46, 37, 0.55, 9474.92, 9467.46, 1579.15, 1577.91, 121, 20.17],
    ["Uzoma 🏆", 6, 39, 44, 0.47, 9268.26, 9509.4, 1544.71, 1584.9, 99, 16.5]
  ]
} %}

{{ infoTable(tableData, orientation='wide', sortable=true, size='compact', id='teamChart') }}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}