{% extends 'base.njk' %}
{% from "_components/infoTable.njk" import infoTable %}

{% block title %}
LLS Teams and Managers 🏈 {{ super() }}
{% endblock %}

{% block head %}
<style>
    h3 {
    color: #5E239D;
    margin-top: 30px;
    margin-bottom: 15px;
  }
</style>
{% endblock %}    

{% block heading %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5">
        <h1 class="font-weight-light">LLS Teams & Stats</h1>
        <p>Team list and all-time stats per manager. Click on rows to select, CTRL+click and SHIFT+click to select multiple rows.</p><br>
    </div>
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://embed-ssl.wistia.com/deliveries/04b18769145f242f5e8dd0c80982d736.png" alt="Patriots players dump a water cooler over Bill Belichick to celebrate" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="teamChart-container" style="margin: 0 12% 0 12%;">
{% set tableData = {
  "headers": ["Manager", "Yrs", "W", "L", "Win %", "PF", "PA", "PF Avg", "PA Avg", "Moves", "Moves Avg"],
  "rows": [
    ["Ben 🏆", 1, 6, 8, 0.43, 1562.64, 1652.18, 1562.64, 1652.18, 35, 35],
    ["Cass", 3, 28, 13, 0.68, 4974.72, 4596.06, 1658.24, 1532.02, 102, 34],
    ["Colin 🏆🏆", 3, 24, 17, 0.59, 4718.04, 4476.26, 1572.68, 1492.09, 68, 22.67],
    ["David", 3, 23, 18, 0.56, 4870.36, 4551.72, 1623.45, 1517.24, 69, 23],
    ["Harper", 3, 18, 23, 0.44, 4446.42, 4752.44, 1482.14, 1584.15, 110, 36.67],
    ["John", 3, 16, 25, 0.39, 4561.1, 4949.14, 1520.37, 1649.71, 41, 13.67],
    ["Price", 3, 18, 23, 0.44, 4535.68, 4801.38, 1511.89, 1600.46, 112, 37.33],
    ["Ray", 2, 11, 17, 0.39, 3346.76, 3344.32, 1673.38, 1672.16, 23, 11.5],
    ["TK", 3, 22, 19, 0.54, 4551.18, 4602.42, 1517.06, 1534.14, 67, 22.33],
    ["Uzoma 🏆", 3, 27, 14, 0.66, 4860.18, 4384.92, 1620.06, 1461.64, 59, 19.67]
  ]
} %}

{{ infoTable(tableData, orientation='wide', sortable=true, size='compact', id='teamChart') }}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}